body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: Kanit;
  font-weight: 400;
  line-height: 125%;
  outline: none;
}

._cs-pt {
  user-select: none !important;
}

.bio-button.-loading:after {
  top: calc(50% - 0.5em + 0px) !important;
}

.page-enter-active,
.page-leave-active {
  transition: 0.25s cubic-bezier(0.100, 0.485, 0.000, 0.9);
  transform: translateY(0px);
}

.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  line-height: 1.4em;
}

::-moz-placeholder {
  /* Firefox 19+ */
  line-height: 1.4em;
}

:-ms-input-placeholder {
  /* IE 10+ */
  line-height: 1.4em;
}

:-moz-placeholder {
  /* Firefox 18- */
  line-height: 1.4em;
}

[lazy] {
  transition: all 0.15s, background-size 0s !important;
}

[lazy=loading] {
  background-size: 150px !important;
  background-color: $light-grey;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

[lazy=loaded] {
  opacity: 1;
  background-size: cover;
  transition: all 0.15s, background-image 0s !important;
}

.-wp {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 125%;
  }
  ul {
    line-height: 150%;
    list-style: disc;
  }
  img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
  }
}
