@import 'assets/styles/variables';
@import 'assets/styles/biomatic.full.min.scss';
@import 'assets/styles/_grid.scss';
@import 'assets/styles/_embed.scss';
@import 'assets/styles/default';
// https://github.com/FortAwesome/vue-fontawesome/issues/14
// @import '@fortawesome/fontawesome/styles.css';
/* Begin your default styles here */

// .min-height-100vh {
//   min-height: calc(100vh - 100px);
//   background: rgba(0, 0, 0, 0.02);
// }
.bg{
  background-color: #FF3333;
    
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.bn{
  
  margin-left: 87%
  
}
.box1{
 background-color: aqua;
 width: 350px;
  height: 200px;
}

.bgcl-blue {
  background-color: blue;
}
.text{
  color: white;
}

.cl-white {
  color: white;
}
.bnsave{
  margin-left: 83%
}

.bg-black{
  background-color: black;
}

.box{
  background-color:rgb(255, 0, 128);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #B0E0E6;
    color: white;
}
.texttd{
display: flex;
align-items: center;
justify-content: center;
}

// .width-100 {
//   width: 100%;
// }
